################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SEM1-Project/v17/Browse.VC.opendb
/.vs/SEM1-Project/FileContentIndex/aeec15a2-e5d5-4eb3-bd56-70122964cc84.vsidx
